<%= simple_form_for @question, html: { class: 'form-with-nested-fields' } do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>

  <%= f.simple_fields_for :attachments do |attachment_fields| %>
    <div class="nested-fields">
      <%= attachment_fields.input :file, as: :file, label: 'File' %>
    </div>
  <% end %>

  <%= f.button :submit %>
<% end %>