<% if can? :create, Question %>
  <%= link_to 'Ask question', new_question_path %>
<% end %>
<h1>Список вопросов</h1>
<h2><%= link_to "Выгрузить все вопросы", run_test_path %></h2>

<div class="form-group">
  <%= label_tag :question_search, "Поиск вопроса" %>
  <%= select_tag :question_id, 
      options_for_select([]),
      class: 'form-control select2-ajax',
      include_blank: true,
      style: 'width: 15%',
      data: { 
        url: search_questions_path,
        placeholder: 'Начните вводить вопрос...',
        minimum_input_length: 3
      } %>
</div>

<div id="questions">
  <%= render @questions %>
</div>
