<h1><%= @question.title %></h1>

<div class="question-body">
  <p><%= @question.body %></p>
</div>
<% @question.attachments.each do |attachment| %>
  <% if attachment.file.present? %>
    <%= link_to "#{attachment.file.file.filename}", attachment.file.url %>
  <% end %>
<% end %>
<% if current_user && current_user == @question.user %>
  <div class="delete-question">
    <%= link_to "Delete Question", @question, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
<hr>
<div class="answers">
    <h2>Answers</h2>
    <%= render @question.answers %>
</div>

<%= render 'answers/form' %>