<div class="answer" id="answer_<%= answer.id %>">
  <h3><%= answer.title %></h3>
  <p><%= answer.body %></p>
  <% if current_user && current_user == answer.user %>
    <div>
      <%= link_to "Edit", edit_question_answer_path(@question, answer), remote: true %>
    </div>
    <div>
      <%= link_to "Delete", [@question, answer], method: :delete, remote: true %>
    </div>
  <% end %>
  <hr>
</div>
