<div class="card mb-4 shadow-sm" id="answer_<%= answer.id %>">
  <div class="card-body m-3">
    <div class="d-flex justify-content-between">
      <h5 class="card-title"><%= answer.title %></h5>
      <div>
        <span id="rate-count-<%= answer.id %>">Рейтинг: <%= answer.rate %></span>
        <button class="btn btn-outline-primary rate-up-button" type="button" data-answer-id="<%= answer.id %>" data-url="<%= rate_up_question_answer_path(question_id: @question.id, id: answer.id) %>">
          <i class="fa-solid fa-thumbs-up"></i>
        </button>
      </div>
    </div>
    
    <p class="card-text"><%= simple_format(answer.body) %></p>

    <!-- Прикреплённые файлы -->
    <% if answer.attachments.any? %>
      <div class="mb-3">
        <strong><i class="bi bi-paperclip me-1"></i>Приложения:</strong>
        <ul class="list-unstyled">
          <% answer.attachments.each do |attachment| %>
            <% if attachment.file.present? %>
              <li>
                <%= link_to attachment.file.identifier, attachment.file.url, target: "_blank", rel: "noopener" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Кнопки управления -->
    <% if current_user && current_user == answer.user %>
      <div class="d-flex gap-2">
        <%= link_to "Редактировать", edit_question_answer_path(@question, answer), remote: true, class: "btn btn-outline-primary btn-sm" %>

        <%= link_to "Удалить", [@question, answer], method: :delete, remote: true,
                      data: { confirm: "Вы уверены?" },
                      class: "btn btn-outline-danger btn-sm" %>
      </div>
    <% end %>


  </div>
</div>